# Core API
BASE_URL=https://api.risksphere.com

# Apple
APPLE_SERVICE_ID=com.risksphere.qa

# Google Maps
GOOGLE_MAP_KEY=xxxxx
GOOGLE_MAPS_API_KEY=AIzaSyBP-LLpikZbtQIa4e7KfkMlwoIXvRuQQGw
GOOGLE_MAPS_API_KEY_IOS=AIzaSyBP-LLpikZbtQIa4e7KfkMlwoIXvRuQQGw
GOOGLE_MAPS_API_KEY_ANDROID=AIzaSyBP-LLpikZbtQIa4e7KfkMlwoIXvRuQQGw

# Firebase (common)
FIREBASE_PROJECT_ID=risksphere-qa
FIREBASE_APP_ID=1:733517635954:android:24b7f1816d68861d3e7deb
FIREBASE_API_KEY=AIzaSyBP-LLpikZbtQIa4e7KfkMlwoIXvRuQQGw
FIREBASE_MESSAGING_SENDER_ID=733517635954
FIREBASE_AUTH_DOMAIN=risksphere-qa.firebaseapp.com
FIREBASE_STORAGE_BUCKET=risksphere-qa.firebasestorage.app
FIREBASE_DATABASE_URL=https://project-green-f4d78-default-rtdb.firebaseio.com

MS_CLIENT_ID=184459ca-bb23-407f-845c-720d49b25768
MS_TENANT_ID=abf269e2-9404-46f3-b577-2b0c86eac933
MS_REDIRECT_URL=https://erp.projectzerozilla.com/

# Additional service URLs (optional)
APP_BASE_URL=https://app.risksphere.ai
TERMS_URL=https://www.risksphere.ai/terms-and-conditions/
PRIVACY_URL=https://www.risksphere.ai/privacy-policy/

# Stripe
STRIPE_PUBLISHABLE_KEY=pk_live_51RWO6tRwbwNkvtwyBk3hTthEuR3oWdTGMNeZ9J3gshZOOPgu7GvygcD0ckMwvgxm12JCu7EZX9Jlh7x70BLT3We400Lfw89f3z