<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37861143894-bjhuqbmhiup2i290no49ra2d4ld6qdfb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37861143894-bjhuqbmhiup2i290no49ra2d4ld6qdfb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>37861143894-n9cr0a2g3d38sv2uothhaffhl43dhgda.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAMSQEI5O6EXj1SgdU4YA25KIaEeu5uv-o</string>
	<key>GCM_SENDER_ID</key>
	<string>37861143894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zerozilla.green</string>
	<key>PROJECT_ID</key>
	<string>project-green-f4d78</string>
	<key>STORAGE_BUCKET</key>
	<string>project-green-f4d78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37861143894:ios:5b6ce902afab71b5bd12f7</string>
	<key>DATABASE_URL</key>
	<string>https://project-green-f4d78-default-rtdb.firebaseio.com</string>
</dict>
</plist>